@model ML.AlumnoMateria
@{
    ViewBag.Title = "GetAlumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de becas</h2>
<div class="row">
    <div class="form-group">
        <div class="col-md-12">
           
                <div class="form-horizontal">

                    <div class="col-md-3">

                        @Html.LabelFor(model => model.IdAlumnoMateria, new { @class = "hidden" })
                        @Html.TextBoxFor(model => model.IdAlumnoMateria, new { @class = "hidden form-control" })
                        @Html.ValidationMessageFor(model => model.IdAlumnoMateria)

                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Alumno.Nombre)
                        @Html.TextBoxFor(model => model.Alumno.Nombre, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Alumno.Nombre)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Alumno.ApellidoPaterno)
                        @Html.TextBoxFor(model => model.Alumno.ApellidoPaterno, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Alumno.ApellidoPaterno)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Alumno.ApellidoMaterno)
                        @Html.TextBoxFor(model => model.Alumno.ApellidoMaterno, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Alumno.ApellidoMaterno)
                    </div>
                </div>

                <div class="row">
                    <table class="tablcenter table table-striped ">

                        <thead>
                            <tr>
                                <th>Becas </th>
                                <th class="text-center"> Eliminar  </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ML.AlumnoMateria alumnoMateria in Model.AlumnoMaterias)
                            {
                                <tr>

                                    <td class="hidden">@alumnoMateria.IdAlumnoMateria</td>
                                    <td>@alumnoMateria.Materia.nombre  </td>
                                    <td class="text-center"><a class="btn btn-warning glyphicon glyphicon-trash " href="@Url.Action("AsignarMateria", "AlumnoMateria", new { IdAlumno = alumnoMateria.Alumno.IdAlumno })"></a></td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="submit" value="Insertar " class="btn btn-success" 
                            @Html.ActionLink("Regresar", "GetAll", "Usuario", htmlAttributes: new { @class = "btn btn-success" })
                        </div>
                    </div>

                </div>
            
        </div>
    </div>
</div>



